<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9593BDE1E64872A0019B0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9593BF21E64872B0019B0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9593BFD1E64872B0019B0D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
